body {
	margin:0;
	font-family:Arial;
	font-size: 12px; 
}
.topo {
	height: 30px;
	background-color:black;
}
.topoint {
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin: auto;
}
.topoleft {
	width:50%;
	height:30px;
	float:left;	
}
.toporight {
	width: 50%;
	height:28px;
	float:right; 
	text-align: right;
	margin-top:2px;
}
.topoleft h1 {
	font-size: 12px;
    color: white;
    
}
.topoleft ul {
    margin:0;
    padding:0;
    list-style:none;
}
.topoleft li { 
	height:30px; 
	line-height:30px; 
	float:left;
	margin-left: 8px;
}
.topoleft li a {
	text-decoration:none;
	color:white; 
}
.topoleft li .ativo {
    color:blue;
}
.topobusca {
	width:110px;
	height:19px;
	outline:0;
}
.toporight a {
	float:right;
}
.toporight input{
    float:right;
}
.toporight img {
    margin-right:3px; 
}
.topo2 {
	height:95px;
	color:#000;	
}
.topo2int {
	width:100%;
	max-width:1040px;
	height:95px;
	margin:auto;
}
.logo {
    width:230px;
    height:85px;
    float:left;  
    margin-top:5px; 
}

.topo2 .banner {
    width:650px;
    height:80px;
    float:right;
    margin-top:7px;
    border:1px solid red;  
    
}   
.banner img {
	margin-left:90px;
	margin-top:15px;
} 
.menu {
    height:40px;
    background-color:red;
}
.menuint {
	width: 100%;
	max-width:1040px;
	height:40px;
	margin: auto;
}
.menu ul {    
	margin:0;
	padding:0;
    list-style:none;
}
.menu li {
	height:40px; 
	line-height:40px; 
	float:left;
	margin-left:10px;
	padding-right:10 px;
}
.menu li:hover .submenu {
	display:block;
}
.menu a {
	color:white;
	text-decoration:none;
}
.submenu {
	width:150px;
	height:150px;
	border-radius:3px;	 
	background-color:red;
	position:absolute;
	display:none;
}
.submenuitem {
   width:140px;
   height:30px;
   line-height:30px;
   padding-left:10px;
}
.submenuitem:hover {
   background-color:#FF5555;
}
.ultimasnoticias {
	height:40px;
}
.ultimasnoticiasint {
    width:100%;
    height:40px;
    max-width:1040px;
    margin:auto;
 }
.ultnoticiasarea {
    height:28px;
    background-color:#fff;
    border:1px solid #ccc;
    margin-top:10px;
}
.ultinoticias1 {
    background-color:red;
    color:#fff;
    height:28px;
    display:inline-block;
    line-height:28PX;
    padding-left:10px;
    padding-right:10px;

    font-size:14px;

}
.ultinoticias2 {
	color:black;
	height:28px;
	line-height:28px;
	display:inline-block;
	padding-left:5px;
}
.containerint {
    width:100%;
    max-width:1040px;
    margin:auto; 
         
}
.leftside {
    width:753px;
    float:left;
}
.rightside {
     width:275px;
     min-height:200px;
     float:right;
     margin-left:12px; 
}
.widget {
     border:1px solid #ccc;
     background-color:#fff;
     margin-bottom:10px;
}
.widget_titulo {
     height:30px;
     line-height:30px;
     padding-left:5px;
     font-size: 14px;
     background-color:#ddd; 
     border-bottom:1px solid #ccc;
}
.widget_conteudo {
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}   
.noticia2 {
	font-size:14px;
	margin: 0px 10px;	
	padding:10px 0px;
	text-align:left;
	border-bottom:1px solid #ccc;   
}
.noticia2  a {
    text-decoration:none;
    color:black;
} 
.slideshow{
	height:335px;
	background-color:#ccc; 
	overflow:hidden;
	margin-bottom: 20px;
}
.slideshowarea {
	width:100000px;
    height:335px;
    background-color:#ddd;
	transition: all 1s;
	margin-bottom: 20px;
}
.slide{
	width:753px;
    height:335px;
    float:left;
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slideinfo {
	height:70px;
	background-image:url('../imagens/slide.png');
	background-size: auto 70px;
	margin-top:265px;
}
.slideinfo_titulo {
	font-size:20px;
	color:black;
    padding-top:9px;
    padding-left:20px;
}
.slideinfo_subtitulo {
	font-size:15px;
	color:black;
	padding-top:9px;
    padding-left:20px;
}
.slidebolinhas {
    position:absolute;
    width:200px;
    height:20px;
   
}
.bolinha {
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
	cursor:pointer;
	background-color:#ccc;
	border-radius:10px;
}
.noticiaarea1 {
    width:430px;
    height:420px;
    float:left;
}
.noticiaarea2 {
	width:318px;
	height:420px;
	float:left;
}
.noticiaitem {
	text-align:left;
	height:88px;
	margin-top:7px;
	margin-bottom:7px;
}
.noticiaimg {
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	padding: 3px;
	float:left;
	
}
.noticiatitulo {
	margin-left:6px;
	font-size:16px;
	width:224px;
	float: left;
	margin-top:2px;
	color: #000;
	
}
.noticiainfo {
	width:224px;
	font-size:12px;
	margin-left:6px;
	color:#999;
	float:left;
	margin-top:10px; 
	 
	  

}
.noticiabig{
	margin-left:10px;
}
.noticiabig .noticiaimg	{
	width:384px;	
    height:222px; 
}
.noticabig .noticiaimg img{
	width:384px;	
    height:222px;
}
.noticiabig .noticiatitulo {
	font-size:30px;
	width:384px;
	color: #000;
}
.menumobile {
	display:none;
}

/* ABAIXO RESPONSIVO NUMERO 1*/

@media only screen and (min-width:909px) and (max-width:1059px) {
	     
		 .topoint,
		 .topo2int,
		 .menuint,
		 .ultimasnoticiasint,
		 .containerint
		  {
            max-width:890px;

		 }  
          .leftside {
			  width:600px;
		  }
		  .noticiaarea1 {

			  width:278px;
		  }
		  .noticiabig .noticiaimg {
			  width:250px;
		  }
		  .noticiabig .noticiaimg img {
			  width:250px;
		}
		  .noticiabig .noticiatitulo {
			  width:250px;
			  font-size:25px;
		  }
		  .menumobile {
			display:none;
		  }
		  #menu {
			display:block !important;
		}
		.topoleft h1{
			display:block;	
		}
		
}

/* ABAIXO RESPONSIVO  NUMERO 2(Tablet)*/

@media only screen and (min-width:785px) and (max-width:909px) {
	.topoint,
	.topo2int,
	.menuint,
	.ultimasnoticiasint,
	.containerint
	 {
	   max-width:768px;

	}  
    .topo2 .banner {
		display: none;

	}  
	#menu {
		display:block !important;
	}
	
	.logo {
		float:none;
		margin:auto;
		margin-top:10px;
	}
	.rightside {
		display:block;
		width:100%;
	}
	.leftside {
		 float:none;
		 width:auto;
	 }
	 .noticiaarea1 {
		 width:446px;
	 }
	 .noticiabig .noticiaimg {
		 width:415px;
	 }
	 .noticiabig .noticiaimg img {
		 width:415px;
   }
	 .noticiabig .noticiatitulo {
		 width:415px;
		 font-size:25px;
	 }
	 .menumobile {
		display:none;
	 }

		   

	}
	/* ABAIXO RESPONSIVO  NUMERO 3(celular)*/ 
	 
	@media only screen and (max-width:785px) {
	
		.topoint,
		.topo2int,
		.menuint,
		.ultimasnoticiasint,
		.containerint
		 {
		   max-width:320px;	
		}  
				
		.toporight {
			display:none;
		}
	
		.menu ul {
			 position: absolute;
			 background-color: red;
			 z-index:10;
			 display: none;
		}
		.menu li {
             float:none;
             height:auto;
		}
		.menu li img {
			display:none;
		}
		.submenu {
			position:static;
			display: block;
		}
		.menumobile {
			display:block;
		}
		.ultimasnoticias {
			display:none;
		}
		.topo2 .banner {
			display: none;
	
		}    
		.logo {
			float:none;
			margin:auto;
			margin-top:15px;
			
		}
		.rightside {
			display:block;
			width:100%;
		}
		.leftside {
			 float:none;
			 width:auto;
			 margin-top:10px;
		 }
		 .noticiaarea1 {
			 width:320px;
			 height:auto;
		 }
		 .noticiabig .noticiaimg {
			 width:290px;
		 }
		 .noticiabig .noticiaimg img {
			 width:290px;
	   }
		 .noticiabig .noticiatitulo {
			 width:290px;
			 font-size:25px;
		}
		.noticiaarea2 {
			width:300px;
			margin:auto;
			clear:both;
			padding-top: 20px;
			padding-left:5px;
		}
		.noticiaitem {
			clear:both;
		}
		.noticiatitulo {
			width:206px;
		}
		.noticiainfo {
			width:206px;
		}
		.slideshow {
			display:none;
		}
		.topoleft h1{
			font-size:10px;

		}

		}

	 
		



